.produtos-div-todos 
{width: 1000px; 
height: 580px;}

footer {
	background-color: #1e1d1d;
	color: hsl(0, 0%, 100%);
	padding: 25px;
	text-align: center;
	margin-bottom: 31px;
	width: 130%;
}

ul {
	list-style: none;
	padding: 50;
	margin: 0;
}

li {
	display:inline-block;
	margin: 0px;
}

a {
	color: #fff;
	text-decoration: none;
	
}


.produtos {
	font-family: "Teko";
}

.peloinsta {
	color: aqua;
}